.current-task {
	width: 100%;
}
.current-task .task-and-timer {
	display: flex;
}
.current-task .task {
	width: 60%;
	background: lightpink;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: column;
}
.current-task .timer-container {
	width: 40%;
	background: lightyellow;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.current-task .level-of-importance {
	text-align: right;
	margin-top: 5%;
	color: gray;
	font-style: italic;
}