.task-board {
	width: 100%;
	padding: 2%;
	/*background: lightgray;*/
	display: flex;
	flex-direction: column;
}
.task-board .header {
	display: flex;
	justify-content: space-between;
}
.task-board .task-view-switcher-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}