.jumbotron {
	width: 100%;
	overflow: all;
}
.jumbotron .jumbotron-background-picture {
	height: 80vh;
	background-image: url("./../../assets/young-man-working-at-desk.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 5% 7.5%;
}
.jumbotron .title {
	font-size: 5em;
	font-family: 'Pacifico', cursive;
	color: var(--theme);
}
.jumbotron .subtitle {
	font-weight: 200;
	font-size: 3em;
}
.jumbotron .jumbotron-actions {
	margin-top: 5%;
}
.jumbotron .jumbotron-actions a {
	margin-top: 0.75%;
	margin-bottom: 0.75%;
}
.jumbotron .jumbotron-small-screen {
	padding-bottom: 5%;
}
.jumbotron .jumbotron-picture img {
	width: 100%;
	height: auto;
}

