.sign-in {
	width: 100%;
	display: flex;
}
.sign-in-large-screen {
	padding: 2% 35%;
}
.sign-in-medium-screen {
	padding: 1% 25%;
}
.sign-in-small-screen {
	padding: 0% 0%;
}
.sign-in .content-holder {
	/*background: lightyellow;*/
	width: 100%;
}
.sign-in .content-holder .title {
	background: var(--theme);
	color: white;
	margin: 0;
	padding-top: 5%;
	padding-bottom: 5%;
}
.sign-in .content-holder .form-container {

}
.sign-in .just-go-with-google-link {
	color: inherit;
}
.sign-in .forget-password, .sign-in .create-new-account {
	display: block;
}
.sign-in .just-go-with-google {
	display: flex;
	color: white;
}
.sign-in .just-go-with-google .google-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3%;
	padding-right: 3%;
	box-sizing: content-box;
	border-right: 2px solid lightgray;
}
.sign-in .just-go-with-google p {
	padding-left: 3%;
	flex-grow: 1;
}