.jumbotron-component {
	width: 100%;
	height: 90vh;
	color: black;
	background-image: url('./../../../assets/young-man-working-at-desk.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 7% 5%;
}
.title {
	color: #2196f3;
	font-size: 6em;
	font-family: 'Pacifico', cursive;
}
.subtitle {
	color: #455a64;
}
.actions {
	margin-top: 4%;
}
.actions a {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

