.task-view-switcher {
	display: flex;
	/*border: 1px solid lightgray;*/
}
.task-view-switcher .icon-container {
	padding: 3% 5%;
	border: 1px solid lightgray;
	cursor: pointer;
	transition: 0.1s ease-in;
	color: #e0e0e0;
}
.task-view-switcher .icon-container:nth-child(2) {
	border-left: none;
	border-right: none;
}
.task-view-switcher .icon-container:hover {
	background: #d84315;
	color: white;
	border-color: lightgray;
}
.task-view-switcher a {
	color: inherit;
}
.task-view-switcher .active {
	background: #d84315;
	color: white;
	border-color: lightgray;
}
