.review-component {
	width: 100%;
	/*margin-top: 10%;*/
	/*margin-bottom: 10%;*/
}
.review-component .title {
	font-weight: bold;
}
.review-component .feedback {
	color: gray;
	font-style: italic;
}
.review-component .collection {
	border: none;
}
.review-component .collection-item {
	background: transparent;
}