.google-oauth {
	width: 100%;
	color: inherit;
}
.google-oauth .just-go-with-google {
	width: 200px;
	display: flex;
	color: white;
}
.google-oauth .just-go-with-google .google-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3%;
	padding-right: 3%;
	border-right: 2px solid lightgray;
}
.google-oauth .just-go-with-google p {
	padding-left: 3%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
}